#containerForgotPassword{
    width: 250px;
    position: absolute;
    top: 50%;
    left: -150%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 3px rgb(126, 126, 126);
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#outLogin{
    cursor: pointer;
}

.forgot-input-container{
    width: 100%;
    position: relative;
    margin-bottom: 1rem;
}

@keyframes inForgotPassword {
    from {left: -150%;}
    to {left: 50%;}
}

@keyframes outForgotPassword {
    from {left: 50%;}
    to {left: -150%;}
}
